body
{
	background-color: #232629;
	color: #cfcfc2;
	font-family: monospace;
}
header a
{
	color: #cfcfc2;
	text-decoration: none;
}
header p
{
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 2em;
	text-align: center;
}
h1
{
	font-size: 8em;
	margin-bottom: 0;
	text-align: center;
}
h2
{
	font-size: 4em;
	text-align: center;
}
h3
{
	font-size: 2em;
    margin-top: 2em;
}
h3 a
{
	color: #cfcfc2;
	text-decoration: none;
}
h4
{
	font-size: 1.5em;
}
h5
{
	font-size: 1.25;
}
h6
{
	font-size: 1em;
}
nav a
{
	color: #cfcfc2;
	text-decoration: none;
}
nav p
{
	font-size: 6em;
	font-weight: bold;
}
nav ul
{
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}
nav li
{
	font-size: 4em;
	font-weight: bold;
    margin-bottom: .5em;
	text-align: center;
}
a
{
	color: #27ae60;
}
article p
{
	font-size: 1.5em;
	text-align: left;
}
article li
{
    font-size: 1.5em;
}
img
{
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width: 768px)
{
	article
	{
		margin-left: auto;
		margin-right: auto;
		width: 768px;
	}
}
